<!DOCTYPE html>
<html>
  <head>
    <title>Alan Christensen</title>
    <!-- ref:css css/<%= appName %>.min.css -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/projects.css">

    <!-- Libraries -->
    <link rel="stylesheet" href="css/lib/bootstrap.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Chivo">
    <!-- endref -->
  </head>
  <body check-user>

    <div header id="header"></div>
    <div ui-view id="view"></div>
    <div footer id="footer"></div>

    <!-- ref:js js/<%= appName %>.min.js -->
    <!-- Libraries -->
    <script src="js/lib/d3.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/ui-bootstrap.js"></script>
    <script src="js/lib/ui-router.js"></script>

    <!-- Module -->
    <script src="js/module.js"></script>

    <!-- Controllers -->
    <script src="js/app/controller/header.js"></script>
    <script src="js/app/controller/footer.js"></script>
    <script src="js/app/controller/login.js"></script>
    <script src="js/app/controller/main.js"></script>
    <script src="js/app/controller/projects.js"></script>
    <script src="js/app/controller/protected.js"></script>

    <!-- Directives -->
    <script src="js/app/directive/header.js"></script>
    <script src="js/app/directive/footer.js"></script>
    <script src="js/app/directive/check-user.js"></script>

    <!-- Services -->
    <script src="js/app/service/nav.js"></script>
    <script src="js/app/service/alerts.js"></script>
    <script src="js/app/service/user.js"></script>

    <!-- Filters -->

    <!-- Main -->
    <script src="js/main.js"></script>
    <!-- endref -->

  </body>
</html>
