
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
}
#footer #copyright {
  padding: 10px 0;
  background-color: #444;
  color: #fff;
  text-align: center;
}
#footer #copyright a {
  color: #0cf;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 10px;
}