
header {
  background-color: black;
  padding: 20px;
  text-align: right;
  color: #d3d7cf;
  text-transform: uppercase;
  font-family: 'Chivo', sans-serif;
}
header a {
  text-decoration: none; 
  color: inherit;
}
header a:hover {
  text-decoration: none; 
  color: #555753;
}
header h1, header h3 {
  margin: 0px;
}

div.nav-bar {
  background-color: #2e3436;
  height: 20px;
}

.nav-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
  border-left: 2px solid white;
}

.nav-list li {
  display: inline-block;
  float: left;
  padding: 0px 10px;
  border-right: 2px solid white;
  height: 20px;
}

.nav-list li:hover {
  text-decoration: none;
  background-color: #2e3436;
  color: inherit;
}

.nav-list li.active {
  text-decoration: none;
  background-color: black;
  color: inherit;
}

.nav-list a {
  text-decoration: none;
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  color: white;
}

.nav-list a:hover {
  text-decoration: none;
  color: white;
}
